* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Hind', sans-serif;
}

header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 99;
}

header .navbar-brand i {
	font-size: 45px;
	color: #35a22c;
}

header .navbar-brand span {
	font-size: 36px;
	color: #fff;
}

header .navbar-dark .navbar-nav .nav-link {
	color: #ffff;
}

	header .navbar-dark .navbar-nav .nav-link:focus,
	.navbar-dark .navbar-nav .nav-link:hover {
		color: #35a22c;
	}

header .nav-item {
	padding: 0 10px;
}

header .nav-item::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: #35a22c;
	transition: all 0.75s;
}

header .nav-item.active::after,
header .nav-item:hover::after {
	width: 100%;
}

header .navbar-dark .navbar-nav .active > .nav-link,
header .navbar-dark .navbar-nav .nav-link.active,
header .navbar-dark .navbar-nav .nav-link.show,
header .navbar-dark .navbar-nav .show > .nav-link {
	color: #35a22c;
	transition: all 0.75s;
}

@media screen and (max-width: 991px) {
	header .navbar-toggler {
		background-color: #35a22c;
	}

	header .nav-item:hover {
		background-color: #35a22c;
		transition: all 0.5s;
	}

	header .nav-item.active::after,
	header .nav-item:hover::after {
		width: 0;
	}

	header .navbar-nav.ml-auto {
		background-color: #fff;
	}

	header .navbar-nav.ml-auto .nav-link {
		color: #35a22c;
	}

	header .navbar-dark .navbar-nav .nav-link:focus,
	.navbar-dark .navbar-nav .nav-link:hover {
		color: #ffff;
	}
}

#carousel .carousel-item img {
	height: 100vh;
}

.overlay {
	background: rgba(39, 43, 54, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#carousel .carousel-caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#carousel .carousel-item .carousel-caption img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
}

#carousel .carousel-caption h5 {
	font-size: 56px;
	line-height: 65px;
}

#carousel .carousel-caption p {
	font-size: 24px;
}

#carousel .carousel-indicators {
	bottom: 100px;
}

#carousel .carousel-indicators li {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: none;
}

#carousel .carousel-indicators li.active {
	background-color: #35a22c;
}

.title {
	text-align: center;
	max-width: 750px;
	margin: 0 auto;
}

.title h2 {
	font-size: 36px;
	line-height: 42px;
	color: #1a1d2d;
	font-weight: 600;
}

.title p {
	color: #585858;
	line-height: 24px;
}

#project .nav {
	display: flex;
	justify-content: center;
	padding-top: 16px;
}

#project .nav-link {
	color: #000;
	margin: 0 4px;
	border-radius: 4px;
	border: 1px solid #000;
}

#project .nav-link.active {
	color: #fff;
	background-color: #35a22c;
	border: 1px solid #35a22c;
}

#project .card {
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	cursor: pointer;
}

#project .card-img-top {
	border-radius: 12px 12px 0 0;
}

#project .card-body {
	border: 1px solid transparent;
	border-radius: 0 0 12px 12px;
	transition: all 0.5s;
}

#project .card:hover .card-body {
	border: 1px solid #35a22c;
	border-top: transparent;
}

#project .card:hover .card-title {
	color: #35a22c;
}

#feature {
	position: relative;
	padding: 100px 0 120px;
	background: url(../image/3.jpg) center / cover no-repeat fixed;
	z-index: 0;
}

#feature::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(7, 10, 12, 0.72);
	z-index: -1;
}

#feature .container {
	z-index: 2;
}

#feature .title h2,
#feature .title p {
	color: #fff;
}

#feature .feature__item {
	color: #ffff;
	padding: 40px 40px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(3px);
	transition: all 0.5s;
	z-index: 2;
	cursor: pointer;
}

#feature .feature__item:hover {
	background-color: #000;
	border: 1px solid #fff;
}

#feature .feature__item i {
	font-size: 48px;
	color: #35a22c;
}

#feature .feature__item h4 {
	margin: 30px 0;
}

#achievement {
	padding: 60px 0;
	position: relative;
}

#achievement .achievement__bg {
	background: url('../image/memphis_3.png') bottom left / 50% auto no-repeat;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#achievement .row {
	display: flex;
	align-items: center;
}

#achievement .achievement__left {
	background: rgba(255, 255, 255, 0.25);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	backdrop-filter: blur(3px);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
	padding: 45px;
}

#achievement .achievement__left h2 {
	font-size: 36px;
	line-height: 42px;
	color: #1a1d2d;
	font-weight: 600;
}

#achievement .achievement__right {
	padding: 50px 0;
}

footer {
	padding: 50px 0;
	background-color: #222222;
}

footer .social {
	border-bottom: 0.5px solid rgb(170 170 170 / 21%);
}

footer .social__list {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .social__item:hover i {
	color: #35a22c;
	border: 1px solid #35a22c;
}

footer .social__item:not(:last-child) {
	list-style: none;
	margin-right: 10px;
}

footer .social__item i {
	position: relative;
	color: #aaa;
	width: 42px;
	height: 42px;
	line-height: 42px;
	border-radius: 50%;
	border: 1px solid rgba(170, 170, 170, 0.374);
	transition: all 0.5s;
}

footer .social__item i::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
footer .copy__right {
	color: #aaa;
	margin-top: 32px;
	text-align: center;
}

footer .copy__right a{
	color: #aaa;
	text-decoration: none;
	display: inline-block;
	transition: all 0.5s;
}

footer .copy__right a:hover {
	color: #35a22c;
}